node_modules/
dist/
build/
coverage/
*.log

.env
.env.*
.env.local
.env.production
.env.development
*.env
*.env.*


# Firebase/Google credentials
src/config/firebaseServiceAccount.json
config/firebaseServiceAccount.json
*.json.key
*.p12